name: Swap Deployment Slots

on:
  workflow_dispatch:

jobs:
  swap-slots:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: |
          {
            "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
            "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
            "tenantId": "${{ secrets.AZURE_TENANT_ID }}",
            "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
          }

    - name: Swap slots from staging to production
      run: |
        az webapp deployment slot swap --name jpappdemo --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} --slot staging --target-slot production