name: Swap Deployment Slots

on:
  workflow_dispatch:
    inputs:
      from_slot:
        description: 'Slot to swap from'
        required: true
        default: 'staging'
        type: choice
        options:
          - staging
          - production
      to_slot:
        description: 'Slot to swap to'
        required: true
        default: 'production'
        type: choice
        options:
          - staging
          - production


jobs:
  swap-slots:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: |
          {
            "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
            "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
            "tenantId": "${{ secrets.AZURE_TENANT_ID }}",
            "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
          }

    - name: Swap slots from ${{ inputs.from_slot }} to ${{ inputs.to_slot }}
      run: |
        az webapp deployment slot swap --name jpappdemo --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} --slot ${{ inputs.from_slot }} --target-slot ${{ inputs.to_slot }}